.row {
  max-width: $grid-width;
  margin: 0 auto;


  @include clearfix;



  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(mini-phone) {
      margin-bottom: 3rem !important;
    }
  }

  [class^="col-"] {
    float: left;
    padding: 1rem;
    box-sizing: border-box;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      @include respond(mini-phone) {
        margin-right: 0;
      }

      @include respond(phone) {

        margin-right: 0;
      }

      @include respond(tab-port) {

        margin-right: $gutter-horizontal;
      }
    }

    &:last-child {
      @include clearfix;
    }


  }

  .col-1-of-2 {
    @include respond(mini-phone) {
      width: 100% !important;
      padding: 0px .5rem;
      margin-right: 0;
    }

    @include respond(phone) {
      width: 100% !important;
      padding: 0px 1rem;
      margin-right: 0;
    }

    @include respond(tab-port) {
      float: left;
      width: calc((100% - #{$gutter-horizontal}) / 2) !important;
    }

    @include respond(tab-land) {
      float: left;
      width: calc((100% - #{$gutter-horizontal}) / 2) !important;
    }

  }

  .col-1-of-3 {

    @include respond(mini-phone) {
      width: 100% !important;
      padding: 0px .5rem;
      margin-right: 0;
    }

    @include respond(phone) {
      width: 100% !important;
      padding: 0px 1rem;
      margin-right: 0;
    }

    @include respond(tab-port) {
      float: left;
      width: calc((100% - 2 * #{$gutter-horizontal}) / 3) !important;
    }

    @include respond(tab-land) {
      float: left;
      width: calc((100% - 2 * #{$gutter-horizontal}) / 3) !important;
    }
  }

  .col-2-of-3 {

    @include respond(mini-phone) {
      width: 100% !important;
      padding: 0px .5rem;
      margin-right: 0;
    }

    @include respond(phone) {
      width: 100% !important;
      padding: 0px 1rem;
      margin-right: 0;
    }

    @include respond(tab-port) {
      float: left;
      width: calc((2 * (100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal}) !important;
    }


    @include respond(tab-land) {
      float: left;
      width: calc((2 * (100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal}) !important;
    }
  }

  .col-1-of-4 {

    @include respond(mini-phone) {
      width: 100% !important;

      padding: 0px .5rem;
      margin-right: 0;
    }

    @include respond(phone) {
      width: 100% !important;
      padding: 0px 1rem;
      margin-right: 0;
    }

    @include respond(tab-port) {
      float: left;
      width: calc((100% - 3 * #{$gutter-horizontal}) / 4) !important;
    }

    @include respond(tab-land) {
      float: left;
      width: calc((100% - 3 * #{$gutter-horizontal}) / 4) !important;
    }
  }

  .col-2-of-4 {

    @include respond(mini-phone) {
      width: 100% !important;
      padding: 0px .5rem;
      margin-right: 0;
    }

    @include respond(phone) {
      width: 100% !important;
      padding: 0px 1rem;
      margin-right: 0;
    }

    @include respond(tab-port) {
      float: left;
      width: calc((2 * (100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal}) !important;
    }

    @include respond(tab-land) {
      float: left;
      width: calc((2 * (100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal}) !important;
    }
  }

  .col-3-of-4 {

    @include respond(mini-phone) {
      width: 100% !important;
      padding: 0px .5rem;
      margin-right: 0;
    }

    @include respond(phone) {
      width: 100% !important;
      padding: 0px 1rem;
      margin-right: 0;
    }

    @include respond(tab-port) {
      float: left;
      width: calc((3 * (100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal}) !important;
    }

    @include respond(tab-land) {
      float: left;
      width: calc((3 * (100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal}) !important;
    }
  }
}