.navigation {

  &__checkbox {
    display: none;
  }

  &__button {
    text-align: center;
    width: 7.5rem;
    height: 7.5rem;
    background-color: #fff;
    border-radius: 50%;
    position: fixed;
    top: 3rem;
    right: 3rem;
    z-index: 105;
    box-shadow: 0px 1rem 3rem rgba(black, .4);
    cursor: pointer;

    @include respond(mini-phone) {
      width: 6.5rem;
      height: 6.5rem;
      top: 3rem;
      right: 3rem;
    }
  }

  &__background {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-image: radial-gradient(#dba24a 20%, #886127);
    position: fixed;
    top: 3.25rem;
    right: 3.25rem;
    z-index: 100;
    transition: all .4s;

    @include respond(mini-phone) {
      width: 6rem;
      height: 6rem;
      top: 3rem;
      right: 3rem;
    }
  }

  &__nav {
    width: 0%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 103;
    opacity: 0;
    transition: all .4s;


  }

  &__list {
    list-style-type: none;
    text-align: center;
    width: 100%;
    @include abs-center;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    display: inline-block;

    &:link,
    &:visited {
      font-size: 3rem;
      padding: .5rem 1rem;
      font-weight: 300;
      color: #fff;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
      background-size: 220%;
      transition: all .4s;

      @include respond(mini-phone) {
        font-size: 2.2rem;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-pizza-dark;
      transform: translateX(1rem);
    }

  }

  &__checkbox:checked~&__background {
    transform: scale(100);
  }

  &__checkbox:checked~&__nav {
    width: 100%;
    opacity: 1;
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;

    @include respond(mini-phone) {
      margin-top: 3.1rem;
    }

    &,
    &::before,
    &::after {
      width: 2.5rem;
      height: 2px;
      background-color: rgb(58, 58, 58);
      display: inline-block;
    }

    &::before {
      content: "";
      position: absolute;
      top: -.8rem;
      left: 0;
      transition: all .2s;
    }

    &::after {
      content: "";
      position: absolute;
      top: .8rem;
      left: 0;
      transition: all .2s;
    }
  }

  &__button:hover &__icon {
    &::before {
      top: -1rem;
    }

    &::after {
      top: 1rem;
    }
  }

  &__checkbox:checked+&__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked+&__button &__icon::before {
    transform: rotate(135deg);
    top: 0;
  }

  &__checkbox:checked+&__button &__icon::after {
    transform: rotate(-135deg);
    top: 0;
  }

}