$color-gray: rgb(119, 119, 119);
;

$color-box-shadow: rgba(0, 0, 0, 0.2);
$color-text-shadow: rgba(0, 0, 0, 0.2);

$color-black: rgb(0, 0, 0);
$color-light: #fff;
$color-gray-transparent:rgba(119, 119, 119, 0.053);
$color-gray-less-transparent: rgba(90, 88, 88, 0.753);
$color-gray-light-1: #f7f7f7;

$color-section-menu-light: rgb(58, 68, 119);
$color-section-menu-dark: rgb(19, 23, 48);

$color-gray-background: #272730;



$color-pizza-light: #ffb900;
$color-text-orange: rgb(238, 72, 30);
$color-pizza-dark: #ff7730;

$color-secondary-light: #55c57a;
$color-secondary-dark: #28b485;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;

$default-font-size: 1.6rem;