body {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;

  @include respond(mini-phone) {
    line-height: 1.6;
  }
}

a {
  text-decoration: none;
}

.heading-primary {
  color: $color-light;
  text-transform: uppercase;
  backface-visibility: hidden;
  box-sizing: border-box;
  max-width: 100%;

  &--main {
    display: inline-block;
    box-sizing: border-box;
    font-weight: 800;
    color: $color-light;
    font-size: 9rem;
    font-family: serif;
    letter-spacing: 1.4rem;
    animation: animationLeft 1s ease-out;

    @include respond(mini-phone) {
      box-sizing: border-box;
      font-size: 6.2rem;
      letter-spacing: 4rem;
      margin-left: 2rem;
      margin-bottom: 2rem;
    }

    @include respond(phone) {
      font-size: 5.5rem;
      margin-bottom: 3rem;
    }

    @include respond(tab-port) {
      font-size: 7rem;
      margin-bottom: 0;
    }

    @include respond(tab-land) {
      font-size: 9rem;
    }


    @include respond(big-desktop) {
      font-size: 10rem;
    }

    &--thin {
      display: inline-block;
      font-weight: 100 !important;
      //  margin-right: 3rem;
      font-family: "roboto";
      box-sizing: border-box;
      color: $color-light;
      font-size: 8rem;
      letter-spacing: 1.4rem;
      animation: animationLeft 1s ease-out;

      @include respond(mini-phone) {
        font-size: 4.4rem;

        padding: .5rem;
      }

      @include respond(phone) {
        font-size: 5rem;
      }

      @include respond(tab-port) {
        font-size: 6rem;
      }

      @include respond(tab-land) {
        font-size: 8rem;
      }






      @include respond(big-desktop) {
        font-size: 9.5rem;
      }
    }

  }


  &--sub {
    display: block;
    font-weight: 300;
    letter-spacing: .9rem;
    color: $color-light;
    animation: animationRight 1s ease-out;
    margin-bottom: 1rem;

    @include respond(mini-phone) {
      font-size: 2rem;
      line-height: 1.5 !important;
      margin-top: 1rem;
      padding: 1rem;
      display: none;
    }

    @include respond(tab-port) {
      display: block;
    }
  }
}


.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  background-image: linear-gradient(to right, $color-pizza-light, $color-pizza-dark);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all .2s;


  @include respond(big-desktop) {
    font-size: 5rem;
  }

  @include respond(tab-land) {
    font-size: 3.5rem;
  }

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  @include respond(mini-phone) {
    font-size: 2rem;
    line-height: 1.5;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg);
    text-shadow: .5rem 1rem 2rem $color-text-shadow;
  }
}

.heading-secondary-light {
  display: inline-block;
  font-size: 3.5rem;
  background-image: linear-gradient(to right, $color-gray-light-1, rgb(158, 158, 158));
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all .2s;

  @include respond(mini-phone) {
    line-height: 1.5 !important;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg);
    text-shadow: .5rem 1rem 2rem $color-text-shadow;
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}